*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
#title  li{
    list-style-type: none;
    display: inline-block;
 
}
#title .tuoi-tre-tv{
    width: 80px; height: 26px;
}
#title .tuoi-tre-cuoi-tuan{
    width: 49px; height: 19px
}
#title .tuoi-tre-news{
    width: 80px; height: 26px;
}
#title .tuoi-tre-cuoi{
    width: 75px;
}

#title{
    /* width: 100%; */
    height: 28px;
    background-color: rgb(255, 255, 255);
    margin: 0px 248px;
}
#title .ico  li{
float: left;
}
#title .contact  li{
    float: right;
    padding: 0 10px;
    color: black;
}
#header-middle{
    height: 40px;
    background-image:linear-gradient(to left,#9f041b,#e32);
    
}